body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/************ ipod-body *********************/
.App{
  position: relative;
  height: 500px;
  width:350px;
  background-color:silver;
  margin: auto;
  border-radius: 20px;
  padding: 20px;
}
/************** current menu-items ***************************/
.menuItems{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  height:180px;
  visibility: hidden;
}
/*************** ipod display******************************/
#display{
  height: 200px;
  width:320px;
  background-color: aqua;
  background-image: url('https://image.flaticon.com/icons/svg/25/25239.svg');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  border: 3px solid black;
}
/*************** hovering or scrolling in current menu-items********************************/
#currApp{
  background-color:lightblue;
  font-size:25px;
  color:white;
}
/*****************ipod wheel buttons**************************/
#buttons{
  height: 200px;
  width: 200px;
  border-radius: 100%;
  background-color:white;
  border: 1px solid grey;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
}
/****************Enter button/ unlock button***************************/
#mainBtn{
  border: 1px solid lightgrey;
  height: 90px;
  width: 90px;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  top:325px;
  left:150px;
  background-color: lightgray;
}
/************style buttons on wheel******************************/
.btn-icon{
  font-weight:bolder;
  font-size: 20px;
  color: grey;
  margin: auto;
}
